/*
    these are just the default styles used in the Cycle2 demo pages.
    you can use these styles or any others that you wish.
*/
/* in case script does not load */
.cycle-slideshow img:first-child {
  position: static;
  z-index: 100;
}
/* pager */
.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: -20px;
  overflow: hidden;
}
.cycle-pager span {
  font-family: arial;
  font-size: 30px;
  width: 10px;
  height: 10px;
  display: inline-block;
  color: #ddd;
  cursor: pointer;
  padding: 0 3px;
}
.cycle-pager span.cycle-pager-active {
  color: #86bdc7;
}
.cycle-pager > * {
  cursor: pointer;
}
/* caption */
.cycle-caption {
  position: absolute;
  color: white;
  bottom: 15px;
  right: 15px;
  z-index: 700;
}
/* overlay */
.cycle-overlay {
  font-family: tahoma, arial;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 600;
  background: black;
  color: white;
  padding: 15px;
  opacity: .5;
}
/* prev / next links */
.cycle-prev,
.cycle-next {
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: pointer;
}
.cycle-prev {
  left: 0;
  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}
.cycle-next {
  right: 0;
  background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}
.cycle-prev:hover,
.cycle-next:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}
.disabled {
  opacity: .5;
  filter: alpha(opacity=50);
}
/* display paused text on top of paused slideshow */
.cycle-paused:after {
  content: 'Paused';
  color: white;
  background: black;
  padding: 10px;
  z-index: 500;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  opacity: .5;
  filter: alpha(opacity=50);
}
/*
    media queries
    some style overrides to make things more pleasant on mobild devices
*/
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .cycle-slideshow {
    width: 200px;
  }
  .cycle-overlay {
    padding: 4px;
  }
  .cycle-caption {
    bottom: 4px;
    right: 4px;
  }
}
